@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black-color: #1e293b;
  --yellow-color: #f7ea68;
  --gradian-color-1: #d2d9da;
  --gradian-color-2: #fbe9e9;
  --gradian-color-3: #d7ddd8;
  --gradian-color-4: #F1E6BE;
  --gray-color: #F6F9FC;
}

@font-face {
  font-family: CAUSTEN;
  src: url("../public/fonts/Causten-Regular.otf");
}

body {
  font-family: CAUSTEN !important;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.gradient-color {
  background: linear-gradient(
    to bottom right,
    var(--gradian-color-1),
    var(--gradian-color-2),
    var(--gradian-color-2),
    var(--gradian-color-4),
    var(--gradian-color-3)
  );
}

.gradient-navbar {
  background: linear-gradient(
    to right,
    var(--gradian-color-1),
    var(--gradian-color-2),
    var(--gradian-color-2)
  );
}

.gray-background{
  background-color: var(--gray-color);
}


.bg-payment{
  background-color: var(--yellow-color);
}



